<fieldset class="grid grid-cols-5 my-2">
    <div class="col-span-1">
        <%= categories_form.select :name, categoryMap.map {|categorySym, categoryName| [categoryName, categorySym.to_s] }, {}, {id: "reviewer_category_name_1", placeholder: 'Select Category', class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"} %>
    </div>
    <div class="col-span-1 ml-2">
        <%= categories_form.text_field :path, { class: "border-1 border-slate-200 bg-slate-50 rounded-md appearance-none py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-56" } %>
    </div>
    <% if showDeleteBtn %>
        <%= link_to "Delete", '#', id: "remove_category", class: 'text-center self-center', :onclick => 'deleteCategoryFieldset(event, this)' %>
    <% end %>
</fieldset>