<%= render 'shared/header' %>
<main class="flex">
  <div class="min-h-screen w-full h-full flex flex-col justify-center">

    <div class="px-5 sm:px-6">
      <div class="w-full max-w-md mx-auto">
              <!-- Site branding -->

              <h4 class="h4 text-slate-800">Forgot your password?</h4>

              <p class="text-sm text-slate-700 my-4">
                Email us at <a href="mailto:psyntax@gmail.com" class="text-sky-700">psyntax@gmail.com</a> with the email address associated with your account to reset your account.
              </p>

              <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
