<!-- Page wrapper -->
<div class="flex flex-col min-h-screen overflow-hidden">

    <%= render 'shared/header', theme: 'dark' %>
    
    <!-- Page content -->
    <main class="grow">

        <!-- Hero -->
        <section class="relative">

            <!-- Dark background -->
            <div class="absolute inset-0 bg-slate-900 pointer-events-none -z-10 [clip-path:polygon(0_0,_5760px_0,_5760px_calc(100%_-_352px),_0_100%)]" aria-hidden="true"></div>

            <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
                <div class="pt-32 pb-20 md:pt-40 md:pb-44">

                    <!-- Hero content -->
                    <div class="flex flex-col items-center">

                        <h1 class="h1 font-pacifico text-slate-100">Review The Reviewers</h1>
                    </div>

                </div>
            </div>
        </section>
        <section class="relative">
          <div class="relative max-w-6xl mx-auto my-4 pl-16">
            <h3 class="text-lg font-semibold">Reviewers by Category</h3>

          </div>
          <div class="flex max-w-4xl mx-auto flex-wrap justify-around">
            <% [:videogames, :technology, :tabletop, :software, :vehicles, :apps, :restaurants, :food].each do |category| %>
              <%= link_to controller: "reviewers", category: category do %>
                <div class="btn min-w-48 mb-4 bg-white rounded-md shadow hover:shadow-md hover:bg-slate-50">
                  <p class="font-medium text-slate-600 text-sm text-center"><%= categoryName(category) %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </section>

    </main>


    <!-- Site footer -->
    <%= render 'shared/footer' %>

</div>