<!-- Page wrapper -->
<div class="flex flex-col min-h-screen overflow-hidden">

    <%= render 'shared/header' %>
    
    <!-- Page content -->
    <main class="grow">

        <!-- Hero -->
        <section class="relative">

            <!-- Dark background -->
            <div class="absolute inset-0 bg-slate-900 pointer-events-none -z-10 [clip-path:polygon(0_0,_5760px_0,_5760px_calc(100%_-_352px),_0_100%)]" aria-hidden="true"></div>

            <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
                <div class="pt-32 pb-20 md:pt-40 md:pb-44">

                    <!-- Hero content -->
                    <div class="flex flex-col items-center">

                        <h1 class="h1 font-pacifico text-slate-100">Review The Reviewers</h1>
                    </div>

                </div>
            </div>
        </section>
        <section class="relative">
          <div class="relative max-w-6xl mx-auto my-4 pl-16">
            <h3 class="text-lg font-semibold">Reviewers by Category</h3>

          </div>
          <div class="flex max-w-4xl mx-auto flex-wrap justify-around">
            <a href="reviewers/videogames" class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Video Games</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Tabletop Games</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Cars & Other Vehicles</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Computer Software</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Mobile Apps</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Computers & Smartphones</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Restaurants</p>
            </a>
            <a class="btn w-48 mb-4 px-4 py-4 bg-white border-slate-200 rounded-md hover:border-r-[1px]">
              <p class="font-medium pl-4 text-slate-600 text-sm text-left">Foods</p>
            </a>
          </div>
        </section>

    </main>


    <!-- Site footer -->
    <%= render 'shared/footer' %>

</div>